{% include 'sitio/cabecera.html' %}
<div  style="background-color: rgb(71, 88, 111);">
<style>
#titulo{
    text-align: center;
    color: rgb(28, 97, 97);

}

#titulo2{
    text-align: center;
    color: rgb(25, 7, 102);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
#titulo3{
    text-align: center;
    text-align: justify;
    display: flex;
    justify-content: center;
    color: rgb(25, 7, 102);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#titulo4{
    text-align: center;
    color: rgb(25, 7, 102);
    text-align: justify;
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#texto1{
    text-align: center;
    color: rgb(255, 255, 255);
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#texto2{
    text-align: center;
    color: rgb(255, 255, 255);
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#texto3{
    text-align: center;
    color: rgb(255, 255, 255);
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#card{
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>

<div id="titulo" class="text-bg-dark p-3" >ELITEAUTOS INFORMACION GENERAL</div>
<br>


<h1 id="titulo2">¿QUIENES SOMOS?</h1>

<div class="row">
    <div class="col-md-4">
        <h3 id="titulo3"> COTIZACION</h3>
        <h4 id="texto1">
            En este aplicativo web al visualizar el vehiculo de su marca y preferencia
            obtendra caracteristicas detalladas que estan disponibles en el catalogo 
            con el fin de brindarle informacion precisa y detallada para asi poder incluso
            hacer una posible comparacion con demas opciones de su interes.
        </h4>

    </div>

    <div class="col-md-4">

        <h4 id="texto2">
        Somos una empresa dedicada a la venta de vehiculos de todo tipo, en esta pagina encontraras 
        información de los automoviles disponibles en nuestro inventario para su posterior comprar.
        cada uno de los vehiculos cuenta con sus caracteristicas y ficha tecnica correspondiente, asi
        como su precio y el contacto a un asesor para la respectiva cotizacion.
        </h4>

    </div>

    <div class="col-md-4">
        <h3 id="titulo4"> SELECCION </h3>

        <h4 id="texto3">
            En esete aplicativo web puede registrar como guardado los automoviles de su conveniencia.
            En caso que necesite asesoria extra en el apartado de carrito esta la opcion de contacto
            para que un un asesor pueda brindarle una mejor experiencia en la seleccion del vehiculo.
        </h4>
    </div>
   
</div>

<div id="titulo" class="text-bg-dark p-3" >DESARROLLADORES</div>

<div class="row">
    <div id="card" class="col-md-6">
        <div class="card" style="width: 18rem;">
            <img src="img/danilo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5>Brayan Danilo Guerrero </h5>
                <p class="card-text">danilonvz1@gmail.com</p> 
              <p class="card-text">Desarrollador</p>
            </div>
          </div>
    </div>

    <div class="col-md-6">
        <div id="card" class="card" style="width: 18rem;">
            <img src="img/cristian.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5>Christian Alexander Pantoja </h5>
                <p class="card-text">cristianerazoc9.5@gmail.com</p>
                <p class="card-text">Desarrollador</p>
            </div>
          </div>
    </div>

</div>
</div>
{% include 'sitio/pie.html' %}

