
    <!-------------------------------------------FOOTER---------------------------------------------->
    <style>
        .logo-img {
            max-height: 120px; /* Ajusta el tamaño máximo según tu preferencia */
        }
    </style>
    <div class="container-fluid">
      <div class="row p-5 pb-2 bg-dark text-white">

        <div class="col-xs-12 col-md-6 col-lg-3">
          <p class="h3"><span class="text-primary">Elite</span>Autos</p>
          <div class="mb-2">
            <a class="text-secondary text-decoration-none">Nuestros modelos</a>
          </div>
          <div class="mb-2">
            <img src="img/Logo_Elite.png" alt="Logo" class="logo-img">
          </div>
          
         
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
          <p class="h5 mb-3">Descubre</p>
          <div class="mb-2">
            <a class="text-secondary text-decoration-none">Nuestro movimiento</a>
          </div>
          <div class="mb-2">
            <a class="text-secondary text-decoration-none">Sostenibilidad</a>
          </div>
          <div class="mb-2">
            <a class="text-secondary text-decoration-none">Mantenimiento</a>
          </div>
          <div class="mb-2">
            <a class="text-secondary text-decoration-none">Trabaja con nosotros</a>
          </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
          <p class="h5 mb-3">Mi vehiculo</p>
          <div class="mb-2">
            <a class="text-secondary text-decoration-none">Agenda tu cita de servicio</a>
          </div>
          <div class="mb-2">
            <a class="text-secondary text-decoration-none">Campañas de seguridad</a>
          </div>
          <div class="mb-2">
            <a class="text-secondary text-decoration-none">Garantía</a>
          </div>
          <div class="mb-2">
            <a class="text-secondary text-decoration-none">Talleres</a>
          </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
          <p class="h5 mb-3">Legales</p>
          <div class="mb-2">
            <a class="text-secondary text-decoration-none">Política de tratamientos de datos personales</a>
          </div>
          <div class="mb-2">
            <a class="text-secondary text-decoration-none">Privacidad</a>
          </div>
          <div class="mb-2">
            <a class="text-secondary text-decoration-none">Términos y condiciones</a>
          </div>
          <div class="mb-2">
            <a class="text-secondary text-decoration-none">Mapa del sitio</a>
          </div>
        </div>

        <div class="col-xs-12 pt-4">
          <p class="text-white text-center">Copyright - All rights reserved 2023</p>
        </div>
      </div>
    </div>
  <!-------------------------------------------FOOTER---------------------------------------------->
  <!-- Bootstrap JavaScript Libraries -->
  <script src="sitio/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>

  
</body>

</html>