{% include 'sitio/cabecera.html' %}
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        color: #333;
        text-align: center;
        padding: 50px;
    }

    h1 {
        color: #d9534f;
    }

    p {
        font-size: 18px;
        margin-top: 20px;
        color: #ececec;

    }

    a {
        color: #337ab7;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
    #contenedor{
        background-color: #333;
    }
    #contenedorgrande{
        background-color: #333
    }
</style>

<div id="contenedor">

<h1>Error 404 - Página no encontrada</h1>
<p>Lo sentimos, la página que estás buscando no existe.</p>
<p>Puedes volver a la <a href="/">página de inicio</a>.</p>
</div>


