<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/050ac84c51.js" crossorigin="anonymous"></script>


</head>

<body>

    <!-- <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="/admin" aria-current="page">Inicio </a>
            <a class="nav-item nav-link" href="/admin/autos">Vehiculos</a>
            <a class="nav-item nav-link" href="/admin/cerrar">Cerrar</a>
            <a class="nav-item nav-link" href="/">Sitio web</a>
        </div>
    </nav> -->

    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container">
          
          <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="/admin" aria-current="page"><i class="fa-solid fa-house"></i> Inicio </a>
            <a class="nav-item nav-link active" href="/admin/autos"><i class="fa-solid fa-car-side"></i> Vehiculos</a>
            <a class="nav-item nav-link text-danger" href="/admin/cerrar"><i class="fa-solid fa-right-from-bracket"></i> Cerrar</a>
          </div>
          <a href="/" class="navbar-brand"><span class="text-primary">Elite</span>autos</a>
          
        </div>
    </nav>